{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/train.js"></script>
{% endblock %}
{% block content %}
    <div id="trainer" class="ui segment">
        <form v-if="!error" v-show="!trainStatus" class="ui form">
            <div class="field">
                <label>Arquitectura:</label>
                <select v-model="arch" v-bind:disabled="!!trainStatus" required>
                    <option value="kim">Kim</option>
                    <option value="kim1fc">Kim+1FC</option>
                    <option value="kimpc">Kim+PC</option>
                    <option value="kim1fcpc">Kim+1FC+PC</option>
                </select>
            </div>
            <div class="field">
                <label>Nombre de la instancia:</label>
                <input v-model="instanceName" v-bind:disabled="!!trainStatus" required>
            </div>
            <div class="field">
                <label>Entrenador:</label>
                <select v-model="trainer" v-bind:disabled="!!trainStatus" required>
                    <option value="simple">Descenso de gradiente</option>
                    <option value="sgd">SGD</option>
                    <option value="early_stop">Descenso de gradiente + Parada temprana</option>
                    <option value="sgd_early_stop">SGD + Parada temprana</option>
                </select>
            </div>
            <div class="field" v-if="arch === 'kim1fc' || arch === 'kim1fcpc'">
                <label>Unidades escondidas:</label>
                <input v-model="hiddenUnits" v-bind:disabled="!!trainStatus" type="number" min="1" required>
            </div>
            <div class="field">
                <label>Número de etiquetas:</label>
                <select v-model="numLabels" v-bind:disabled="!!trainStatus" required>
                    <option v-bind:value="3">3</option>
                    <option v-bind:value="5">5</option>
                </select>
            </div>
            <div class="field">
                <label>Tasa de aprendizaje:</label>
                <input v-model="learningRate" v-bind:disabled="!!trainStatus" type="number" min="0" step="0.0001" required>
            </div>
            <div class="field">
                <label>Número de iteraciones:</label>
                <input v-model="epochs" v-bind:disabled="!!trainStatus" type="number" min="1" required>
            </div>
            <div class="field">
                <label>Intervalo para evaluar el conjunto de validación:</label>
                <input v-model="validationGap" v-bind:disabled="!!trainStatus" type="number" min="1" required>
            </div>
            <div class="field">
                <label>Tamaño del mini-lote:</label>
                <input v-model="minibatchSize" v-bind:disabled="!!trainStatus" type="number" min="1" required>
            </div>
            <div class="field">
                <label>Tasa de dropout:</label>
                <input v-model="keepProb" v-bind:disabled="!!trainStatus" type="number" min="0" step="0.01" required>
            </div>
            <input class="ui button" v-bind:disabled="!!trainStatus || validationGap > epochs" type="submit" value="Entrenar" v-on:click="trainInstance">
        </form>
        <div v-if="!error" v-show="trainStatus">
            <div class="ui teal progress" id="progress-bar">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">Entrenando</div>
            </div>
            <img v-if="trainStatus === 'TRAIN_COMPLETED'" v-bind:src="'/train/' + instanceName + '/learning_curve'" alt="Curva de aprendizaje" class="center">
        </div>
        <div v-if="error">
            <h4 v-html="error" class="red"></h4>
        </div>
    </div>
{% endblock %}